
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.btn,
.button{
  border: 0 !important;
  border-radius: 3px !important;
  font-weight: bold !important;
  padding: 8px !important;
  margin-right: 5px !important;
}
.btn-primary,
.btn-black{
  background-color: black !important;
  color: white !important;
}

.imageStarShip{
  background-image: url(./starship.png);
}
.imgPlanet{
  background-image: url(./planetBelsavis.png);
}

.subcontainerBody{
  width: 800px;
  margin: 0 auto;
}

.image{
  width: 80% !important;

}
